body {
    overscroll-behavior: none;
}

.tabs .card-header {
    padding: 0;
    list-style: none;
    display: flex;
    border: none !important;
    overflow-x: auto;
}

.tabs .card-header li {
    flex-grow: 1;
}

.tabs .card-header li button {
    border: none;
    color: #0d6efd;
    padding: 1rem;
    width: 100%;
    min-height: 100%;
}

.tabs .card-header li button.active {
    background: #fff;
    color: #495057
}

html.dark .tabs .card-header li button {
    background-color: rgba(250, 250, 250, .03);
}

html.dark .tabs .card-header li button.active {
    background-color: #222;
    color: #92a0ae;
}

.tabs .card-body {
    padding: 2rem 1rem;
}

.tabs .card-body > .row {
    margin-top: .5em;
}

.tabs .card-body > .row .col button {
    padding: .25em;
}
